.btn {
  padding-top: theme('padding.2');
  padding-right: theme('padding.4');
  padding-bottom: theme('padding.2');
  padding-left: theme('padding.4');
  border: theme('borderWidth.2') solid;
  font-weight: theme('fontWeight.semibold');
  border-radius: theme('borderRadius.lg');

  &--blue {
    color: theme('colors.ux.blue');
  }
}

.is-active--exact {
  color: theme('colors.ux.blue');
  font-weight: theme('fontWeight.semibold');

  @media (min-width: 1024px) {
    padding: theme('padding.2');
    color: theme('colors.ui.textBody');
    background: theme('backgroundColor.gray.200');
    border-radius: theme('borderRadius.lg');
  }
}
